<% provide(:page_title, "で簡単糖質量検索！一覧表示で必要なデータをわかりやすく！糖質制限のお供に。") %>
<main>

  <!--Main layout-->
  <div class="container">

    <div class="row">

      <!-- Left -->
      <div class="col-lg-9 col-md-12">

        <!-- Introduction to Smartphone Apps -->
        <div class="row">
          <a href="/static_pages/mobile_app" class="pt-4 mb-4 blue-text">ポケット糖質量のスマートフォンアプリが登場！👉ちょっと見てみる</a>
        </div>

        <!--Main information-->
        <div class="row font-weight-bold">
          <p>ポケット糖質量は1600種類以上の食品に含まれる糖質量を検索・一覧で表示できるサイトです。<br>
            様々な健康改善効果を期待できる糖質制限にピッタリ。ぜひご活用ください！<br>
            トップのナビゲーションや検索窓から表示を絞り込みできます。</p>
        </div>

        <!-- search form -->
        <div class="row">
          <%= render 'layouts/search_form' %>
        </div>

        <!-- Type cards -->
        <%= render 'layouts/home_cards' %>

      </div>
      <!--/.Left -->

      <!-- Right -->
      <div class="col-lg-3 mt-2">

        <!-- Smartphone Apps badge -->
        <%= render 'layouts/mobile_app_banner' %>

        <!-- Caluculators -->
        <div class="view overlay mt-1">
          <a href="/static_pages/calc/index">
            <img class="img-fluid" src="<%= asset_path 'calc/home_link_calculator.png' %>" alt="calculator page image">
          </a>
        </div>

        <!-- Ads -->
        <section class="mt-2">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- PocketCarboレスポンシブ -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6381489451756721"
            data-ad-slot="6829513953" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </section>

        <section class="mt-2">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- PocketCarboLink -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6381489451756721"
            data-ad-slot="9026109836" data-ad-format="link" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </section>

        <!--/. Ads -->
      </div>
      <!--/.Right -->
    </div>

    <%= render 'layouts/sns_share' %>

  </div>
  <!--/.Main layout-->

</main>
