<% provide(:page_title, "で簡単糖質量検索！一覧表示で必要なデータをわかりやすく！糖質制限のお供に。") %>
<main>

  <!--Main layout-->
  <div class="container">
    <!--First row-->
    <div class="row">
      <!--Main information-->
      <div class="col-md-12 my-xl-4 font-weight-bold">
        <p>ポケット糖質量は1200種類以上の食品に含まれる糖質量を検索・一覧で表示できるサイトです。<br>
          様々な健康改善効果を期待できる糖質制限にピッタリ。ぜひご活用ください！<br>
          トップのナビゲーションや検索窓から表示を絞り込みできます。</p>
      </div>

      <!-- Smartphone Apps badge -->
      <!--Grid column-->
      <div class="col-lg-3">
        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-1-half">
          <img src="<%= asset_path 'get_apps.png' %>" class="img-fluid" alt="First sample image">
        </div>
      </div>
      <!--./ Grid column-->
      <!--Grid column-->
      <div class="col-lg-7 ml-xl-4 mb-4">
        <!-- iPhone -->
        <a href="https://itunes.apple.com/jp/app/id1371454314" class="teal-text">
          <h6 class="font-weight-bold">
            <i class="fa fa-heart"></i>
            iPhoneアプリをゲット
          </h6>
        </a>
        <a href="https://itunes.apple.com/jp/app/id1371454314">
          <img src="<%= asset_path 'app-store-badge.png' %>" height="52">
        </a>
        <!--./ iPhone -->
        <!-- Android -->
        <a href="https://play.google.com/store/apps/details?id=com.sakurafish.pockettoushituryou" class="teal-text">
          <h6 class="pb-1 font-weight-bold">
            <i class="fa fa-heart"></i>
            Androidアプリをゲット
          </h6>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.sakurafish.pockettoushituryou">
          <img src="<%= asset_path 'google-play-badge.png' %>" height="52">
        </a>
        <!--./ Android -->
      </div>
      <!--./ Smartphone Apps badge -->

    </div>
    <!--/.First row-->

    <!-- search form -->
    <%= render 'layouts/search_form' %>

    <!--Type cards row1-->
    <div class="row">
      <div class="card-group">
        <!-- type1 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 1) %>">
            <img class="img-fluid" src="<%= asset_path 'kind1.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 1) %>">各種食材</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 1) %>">穀類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 2) %>">豆・種実・藻類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 3) %>">いも・野菜・きのこ類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 4) %>">果実類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 5) %>">魚介類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 6) %>">肉類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 7) %>">卵・乳類</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 8) %>">油脂類・調味料・香辛料</a><br>
              <a href="<%= foods_search_t_path(:type_id => 1, :kind_id => 9) %>">砂糖・ジャムなど</a>
            </p>
            <br>
            <%= button_to "各種食材を見る", foods_search_t_path(:type_id => 1), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type1 card -->

        <!-- type2 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 2) %>">
            <img class="img-fluid" src="<%= asset_path 'kind3.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 2) %>">定番料理</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 10) %>">主食（ごはん・パンなど）</a><br>
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 11) %>">主食（めん類・その他）</a><br>
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 12) %>">肉料理</a><br>
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 13) %>">魚介料理</a><br>
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 14) %>">野菜・いも・きのこ類の料理</a><br>
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 15) %>">卵・豆腐・海藻などの料理</a><br>
              <a href="<%= foods_search_t_path(:type_id => 2, :kind_id => 16) %>">鍋・汁ものなど</a>
            </p>
            <br>
            <br>
            <br>
            <%= button_to "定番料理を見る", foods_search_t_path(:type_id => 2), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type2 card -->

        <!-- type3 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 3) %>">
            <img class="img-fluid" src="<%= asset_path 'kind2.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 3) %>">市販食品</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 17) %>">おつまみ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 19) %>">缶詰など</a><br>
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 20) %>">インスタント・レトルト食品</a><br>
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 21) %>">冷凍食品</a><br>
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 22) %>">調理パン・おにぎり</a><br>
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 23) %>">和菓子・洋菓子</a><br>
              <a href="<%= foods_search_t_path(:type_id => 3, :kind_id => 24) %>">アイスクリーム・ゼリー・スナック類他</a><br>
            </p>
            <br>
            <br>
            <%= button_to "市販食品を見る", foods_search_t_path(:type_id => 3), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type3 card -->

        <!-- type4 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 4) %>">
            <img class="img-fluid" src="<%= asset_path 'kind4.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 4) %>">外食・テイクアウト</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 25) %>">ピザ他</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 26) %>">クレープ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 27) %>">弁当</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 28) %>">定食など</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 29) %>">すし</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 30) %>">焼き鳥</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 31) %>">おでん</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 32) %>">焼き肉</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 33) %>">天ぷら</a><br>
              <a href="<%= foods_search_t_path(:type_id => 4, :kind_id => 34) %>">串揚げ</a>
            </p>
            <%= button_to "外食・テイクアウトを見る", foods_search_t_path(:type_id => 4), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type4 card -->

      </div>
    </div>
    <!--/.Type cards row1-->

    <!--Type cards row2-->
    <div class="row">
      <div class="card-group">

        <!-- type5 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 5) %>">
            <img class="img-fluid" src="<%= asset_path 'kind5.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 5) %>">飲みもの</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 5, :kind_id => 35) %>">ソフトドリンク</a><br>
              <a href="<%= foods_search_t_path(:type_id => 5, :kind_id => 36) %>">アルコールなど</a><br>
            </p>
            <br>
            <br>
            <br>
            <br>
            <%= button_to "飲みものを見る", foods_search_t_path(:type_id => 5), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type5 card -->

        <!-- type6-1 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 6) %>">
            <img class="img-fluid" src="<%= asset_path 'kind6.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 6) %>">メーカー商品</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 37) %>">雪印メグミルク</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 38) %>">フジッコ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 39) %>">グリコ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 40) %>">大塚製薬</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 41) %>">マクドナルド</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 42) %>">モスバーガー</a><br>
            </p>
            <%= button_to "メーカー商品を見る", foods_search_t_path(:type_id => 6), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type6-1 card -->

        <!-- type6-2 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 6) %>">
            <img class="img-fluid" src="<%= asset_path 'kind6.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 6) %>">メーカー商品</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 43) %>">ローソン</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 44) %>">トップバリュ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 45) %>">明星</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 46) %>">紀文</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 47) %>">カゴメ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 48) %>">日清</a><br>
            </p>
            <%= button_to "メーカー商品を見る", foods_search_t_path(:type_id => 6), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type6-2 card -->

        <!-- type6-3 card -->
        <div class="card">
          <a href="<%= foods_search_t_path(:type_id => 6) %>">
            <img class="img-fluid" src="<%= asset_path 'kind6.jpg' %>">
          </a>
          <div class="card-block">
            <h4 class="card-title underline">
              <a href="<%= foods_search_t_path(:type_id => 6) %>">メーカー商品</a>
            </h4>
            <p class="card-text underline">
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 49) %>">山崎製パン</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 50) %>">はごろもフーズ</a><br>
              <a href="<%= foods_search_t_path(:type_id => 6, :kind_id => 51) %>">モンテール</a><br>
            </p>
            <br>
            <br>
            <br>
            <%= button_to "メーカー商品を見る", foods_search_t_path(:type_id => 6), class: "btn btn-default btn-sm" %>
          </div>
        </div>
        <!--/. type6-3 card -->

      </div>
    </div>
    <!--/.Type cards row1-->

    <hr class="extra-margins">
    <%= render 'layouts/sns_share' %>

  </div>
  <!--/.Main layout-->

</main>
