<% provide(:page_title, " 色々計算機") %>
<main>

    <!-- /.Main Container -->
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=<%=root_path %>> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">色々計算機</li>
            </ol>
        </nav>

        <!-- Grid row -->
        <div class="row">

            <!-- Content -->
            <div class="col-lg-12">

                <!-- Grid row -->
                <div class="row">

                    <!--Grid left-->
                    <div class="col-lg-9 col-md-12 mb-3 pb-lg-2">
                        <!--Image -->
                        <section class="view rounded wow fadeIn z-depth-1">

                            <img src="<%= asset_path 'calc/calc_index_intro.png' %>" class="img-fluid">
                            <div class="mask rgba-black-light">
                                <div class="white-text mt-5 pl-5">
                                    <div>
                                        <a><span class="badge light-green">特設コーナー</span></a>
                                        <p class="h3 font-weight-bold my-2">色々計算機まとめ</p>
                                        <p class="pr-4">様々な計算式をまとめてチェックできるようにしてみました。お気軽にお試しください。<br>
                                            なお、情報が入った時に追加する予定です。 </p>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <!--Image -->

                        <!--Food Category -->
                        <div class="list-group mt-5">
                            <a href="" class="h5 list-group-item list-group-item-action disabled header-gradient-color white-text py-3">
                                フーズカテゴリー
                            </a>
                            <a href="/static_pages/calc/sodium" class="list-group-item list-group-item-action h4">
                                <span class="">
                                    <img src="<%= asset_path 'calc/sodium_list_thumbnail.png' %>" class="image-square104 mr-3 mt-1 mb-1" />
                                </span>
                                ナトリウムの量→食塩相当量変換
                            </a>
                        </div>
                        <!--Food Category -->

                        <!--Health Category -->
                        <div class="list-group mt-5">
                            <a href="" class="h5 list-group-item list-group-item-action disabled header-gradient-color white-text py-3">
                                ヘルスカテゴリー
                            </a>
                            <a href="/static_pages/calc/bmi" class="list-group-item list-group-item-action h4">
                                <span class="">
                                    <img src="<%= asset_path 'calc/bmi_list_thumbnail.png' %>" class="image-square104 mr-3 mt-1 mb-1" />
                                </span>
                                身長と体重からBMI(肥満度)を計算します
                            </a>
                        </div>
                        <!--Health Category -->

                    </div>
                    <!--/.Grid left-->

                    <!--Grid right-->
                    <div class="col-lg-3 mb-4">

                        <!--A8 banner-->
                        <div id="zsid9115131585"></div>
                        <script type="text/javascript" src="//statics.a8.net/js/harippaban.js" charset="utf-8"></script>
                        <script type="text/javascript">
                            var aid = '170405731565';
                            var frame = '1';
                            var shopname = '1';
                            var horizontal = '1';
                            var vertical = '5';
                            var alignment = '0';
                            var rndid = 'zsid9115131585';
                            var bannerkind = 'item.variable.kind1';
                        </script>
                        <script type="text/javascript" src="//items.a8.net/search?keyword=%E7%B3%96%E8%B3%AA&limit=5&callback=callbackA8"
                            charset="utf-8"></script>
                        <!--A8 banner-->
                    </div>
                    <!--/.Grid right-->

                </div>
                <!--Grid row-->
            </div>
            <!-- /.Content -->

        </div>

        <!-- SNS share button -->
        <div class="row mt-5">
            <%= render 'layouts/sns_share' %>
        </div>
        <!--/. SNS share button -->

    </div>
    <!-- /.Main Container -->
</main>
