<% provide(:page_title, " sakurafish apps") %>

<main>
    <!-- /.Main Container -->
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=<%=root_path %>> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">アプリ紹介</li>
            </ol>
        </nav>

        <!-- Grid row -->
        <div class="row">

            <div class="col-12 mb-3">
                <h5 class="mdb-color-text">
                    sakurafishの作成したアプリをご紹介するページです。</h5>
                <hr>

                <!-- Investment -->
                <div class="d-flex mt-2">
                    <img width="100" height="100"  src="<%= asset_path 'sakurafish/ic_investment.png' %>">
                    <div class="mt-4 ml-4">
                        <h3 class="dark-grey-text font-weight-bold">投資名言</h3>
                        <p class="">珠玉の投資名言を毎日お届けするアプリ</p>
                    </div>
                </div>
                <div class="d-flex mt-3 pb-3">
                    <a href="https://play.google.com/store/apps/details?id=com.sakurafish.investmentphrase"
                        target="_blank">
                        <img src="<%= asset_path 'mobile_apps/google-play-badge.png' %>" height="52">
                    </a>
                </div>
                <hr>

                <!-- PocketCarbo -->
                <div class="d-flex mt-2">
                    <img width="100" height="100" src="<%= asset_path 'sakurafish/ic_pocketcarbo.png' %>">
                    <div class="mt-4 ml-4">
                        <h3 class="dark-grey-text font-weight-bold">ポケット糖質量</h3>
                        <p class="">糖質量一覧・糖質量検索などが出来るアプリ</p>
                    </div>
                </div>
                <div class="d-flex mt-3 pb-3">
                    <a class="mr-3" href="https://itunes.apple.com/jp/app/id1371454314" target="_blank">
                        <img src="<%= asset_path 'mobile_apps/app-store-badge.png' %>" height="52">
                    </a>
                    <a class="ml-3"
                        href="https://play.google.com/store/apps/details?id=com.sakurafish.pockettoushituryou"
                        target="_blank">
                        <img src="<%= asset_path 'mobile_apps/google-play-badge.png' %>" height="52">
                    </a>
                </div>
                <hr>

                <!-- Gokigenyou -->
                <div class="d-flex mt-2">
                    <img width="100" height="100"  src="<%= asset_path 'sakurafish/ic_gokigenyou.png' %>">
                    <div class="mt-4 ml-4">
                        <h3 class="dark-grey-text font-weight-bold">お嬢様言葉まっしゅ</h3>
                        <p class="">お嬢様のような上品な言葉を表示するジョークアプリ</p>
                    </div>
                </div>
                <div class="d-flex mt-3 pb-3">
                    <a href="https://play.google.com/store/apps/details?id=com.sakurafish.android.mashroom.gokigenyou"
                        target="_blank">
                        <img src="<%= asset_path 'mobile_apps/google-play-badge.png' %>" height="52">
                    </a>
                </div>
                <hr>

                <!-- ParrotUnInstaller -->
                <div class="d-flex mt-2">
                    <img width="100" height="100"  src="<%= asset_path 'sakurafish/ic_unInstaller.png' %>">
                    <div class="mt-4 ml-4">
                        <h3 class="dark-grey-text font-weight-bold">インコアンインストーラー</h3>
                        <p class="">消したいアプリを一覧から削除できるアプリ</p>
                    </div>
                </div>
                <div class="d-flex mt-3 pb-3">
                    <a href="https://play.google.com/store/apps/details?id=sakurafish.com.parrot.uninstaller"
                        target="_blank">
                        <img src="<%= asset_path 'mobile_apps/google-play-badge.png' %>" height="52">
                    </a>
                </div>
                <hr>

        </div>
        <!--Grid row-->
    </div>
    <!-- /.Main Container -->
</main>
