<%= form_for(food) do |f| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :carbohydrate_per_100g %>
    <%= f.text_field :carbohydrate_per_100g %>
  </div>

  <div class="field">
    <%= f.label :carbohydrate_per_weight %>
    <%= f.text_field :carbohydrate_per_weight %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :calory %>
    <%= f.text_field :calory %>
  </div>

  <div class="field">
    <%= f.label :protein %>
    <%= f.text_field :protein %>
  </div>

  <div class="field">
    <%= f.label :fat %>
    <%= f.text_field :fat %>
  </div>

  <div class="field">
    <%= f.label :sodium %>
    <%= f.text_field :sodium %>
  </div>

  <div class="field">
    <%= f.label :type_id %>
    <%= f.text_field :type_id %>
  </div>

  <div class="field">
    <%= f.label :kind_id %>
    <%= f.text_field :kind_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
