<% provide(:page_title, " 食品一覧") %>
<main>
  <% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row pt-4">

      <!-- Left -->
      <div class="col-lg-9 pl-5">

        <!-- Introduction to Smartphone Apps -->
        <div class="row">
          <a href="/static_pages/mobile_app" class="pr-4 blue-text">ポケット糖質量のスマートフォンアプリが登場！👉ちょっと見てみる</a>
        </div>
        <!-- Foods list -->
        <%= render 'foods/foods' %>

      </div>
      <!--/.Left -->

      <!-- Right -->
      <div class="col-lg-3">

        <!-- Smartphone Apps badge -->
        <%= render 'layouts/mobile_app_banner' %>

        <!-- Caluculators -->
        <div class="view mt-1">
          <a href="/static_pages/calc/index">
            <img class="img-fluid" src="<%= asset_path 'calc/home_link_calculator.png' %>" alt="calculator page image">
          </a>
        </div>

        <!-- Ads -->
        <section class="row mt-4 ml-2">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- PocketCarboLink -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6381489451756721" data-ad-slot="9026109836"
            data-ad-format="link" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </section>

        <section class="row mt-4 ml-2">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- web-PocketCarbo -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6381489451756721" data-ad-slot="6829513953"
            data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </section>

        <!--/. Ads -->

      </div>
      <!--/.Right -->
    </div>
    <!--/. row -->

    <!-- SNS share button -->
    <div class="row mt-5">
      <%= render 'layouts/sns_share' %>
    </div>
    <!--/. SNS share button -->
  </div>
  <!--/. container -->

</main>
