<% provide(:page_title, " 食品一覧") %>
<main>
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="container">
    <!-- search form-->
    <%= render 'layouts/search_form' %>

    <!-- food type -->
    <div class="row col-md-12 ">
      <%= food_type %>
      <%= food_kind_title %>
    </div>

    <!-- food kinds -->
    <div class="col-md-12">
      <% if @kinds.present? %>
      <% @kinds.each do |kind| %>
      <div class="btn-group">
        <a href="<%= foods_search_t_path(:type_id => @type_id, :kind_id => kind.id) %>" class="<%= @kind_id.to_s == kind.id.to_s ? 'food_type_button_selected' : 'food_type_button' %>">
          <span><%= kind.name %></span>
        </a>
      </div>
      <% end %>
      <% end %>
    </div>
    <!--/. food kind -->

    <!-- food list -->
    <div class="list-group">
      <% @foods.each do |food| %>
      <div class="list-group-item">

        <!-- left -->
        <div class="<%= carbo_level_color_css(food) %> col-md-5">
          <div class="mb-1 font-weight-bold h5"><%= food.name %></div>
          <div class="d-inline font-weight-bold h4">
            <%=food.carbohydrate_per_100g %>
            g
          </div>
          <div class="d-inline small">
            /100g中
            <%=cube_sugar(food.carbohydrate_per_100g) %>
          </div>
        </div>

        <!-- right -->
        <div class="col-md-7 food_grid_right grey.darken-2">
          <p class="mt-1"><%= ingredient_discription(food) %></p>
          <p class="mb-1">
            <strong>糖質:</strong>
            <%= food.carbohydrate_per_weight %>g
            <strong>カロリー:</strong>
            <%= food.calory %>kcal
            <strong>たんぱく質:</strong>
            <%= food.protein %>g
            <strong>脂質:</strong>
            <%= food.fat %>g
            <strong>塩分:</strong><%= food.sodium %>g</p>
        </div>
      </div>
      <% end %>
    </div>
    <br>
    <%= paginate @foods %>

    <!--/. food list -->

    <br>

    <%= render 'layouts/sns_share' %>
  </div>

</main>
