<% provide(:page_title, "一覧") %>
<main>
  <p id="notice"><%= notice %></p>

  <div class="container">
    <%= render 'layouts/search_form' %>

    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Carbohydrate per 100g</th>
        <th>Carbohydrate per weight</th>
        <th>Weight</th>
        <th>Calory</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Sodium</th>
        <th>Type</th>
        <th>Kind</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.carbohydrate_per_100g %></td>
        <td><%= food.carbohydrate_per_weight %></td>
        <td><%= food.weight %></td>
        <td><%= food.calory %></td>
        <td><%= food.protein %></td>
        <td><%= food.fat %></td>
        <td><%= food.sodium %></td>
        <td><%= food.type.name %></td>
        <td><%= food.kind.name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>

    <br>

  </div>

</main>
