<% provide(:page_title, "一覧") %>
<main>
  <p id="notice"><%= notice %></p>

  <div class="container">
    <!-- search form-->
    <%= render 'layouts/search_form' %>

    <p><%= @type_name + "の糖質量" if @type_name.present? %></p>

    <!-- food list -->
    <div class="list-group">
      <% @foods.each do |food| %>
      <div class="list-group-item">
        <div class="col-md-3 food_grid_left">
          <h6 class="mb-1"><%= food.name %></h6>
          <h3><strong><%= food.carbohydrate_per_100g %> g</strong><span style="font-size:small"> (100g中) </span></h3>
        </div>
        <div class="col-md-9 food_grid_right grey.darken-2">
          <p class="mt-1">一回分約 <%= food.weight %> g あたりの値</p>
          <p class="mb-1"><strong>糖質:</strong> <%= food.carbohydrate_per_weight %>g <strong>カロリー:</strong>
            <%= food.calory %>kcal <strong>たんぱく質:</strong> <%= food.protein %>g <strong>脂質:</strong>
            <%= food.fat %>g <strong>塩分:</strong><%= food.sodium %>g</p>
        </div>
      </div>
      <% end %>
    </div>
    <br>
    <%= paginate @foods %>

    <!--/. food list -->

    <br>
  </div>

</main>
