<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Carbohydrate per 100g:</strong>
  <%= @food.carbohydrate_per_100g %>
</p>

<p>
  <strong>Carbohydrate per weight:</strong>
  <%= @food.carbohydrate_per_weight %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @food.weight %>
</p>

<p>
  <strong>Calory:</strong>
  <%= @food.calory %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @food.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @food.fat %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @food.sodium %>
</p>

<p>
  <strong>Type:</strong>
  <%= @food.type %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @food.kind %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
