<header>
    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary default-color fixed-top">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href=<%= root_path %>>
            <strong>ポケット糖質量 </strong><small>糖質量検索・一覧表示</small>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <!-- left side -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <a class="nav-link" href=<%= root_path %>>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%= foods_path %>>全食品一覧</a>
                    </li>

                    <li class="nav-item dropdown btn-group">
                        <div class="dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">食品種類別</a>
                        <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                            <a href=<%= foods_search_t_path(:type_id => 1) %> class="dropdown-item">各種食材</a>
                            <a href=<%= foods_search_t_path(:type_id => 2) %> class="dropdown-item">定番料理</a>
                            <a href=<%= foods_search_t_path(:type_id => 3) %> class="dropdown-item">市販食品</a>
                            <a href=<%= foods_search_t_path(:type_id => 4) %> class="dropdown-item">外食・テイクアウト</a>
                            <a href=<%= foods_search_t_path(:type_id => 5) %> class="dropdown-item">飲みもの</a>
                            <a href=<%= foods_search_t_path(:type_id => 6) %> class="dropdown-item">メーカー商品</a>
                        </div>
                        </div>
                    </li>
                </ul>
                <!-- right side -->
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a href=<%= static_pages_help_path %> class="nav-link waves-effect waves-light"><i class="fa fa-question"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar-->

</header>
