<div class="row">
  <div class="col-lg-12">

    <!-- シェアボタン -->
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pockettoushituryou.com%2F&t=%E3%83%9D%E3%82%B1%E3%83%83%E3%83%88%E7%B3%96%E8%B3%AA%E9%87%8F"
          title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="<%= asset_path 'sns_facebook.png' %>"></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.pockettoushituryou.com%2F&text=%E3%83%9D%E3%82%B1%E3%83%83%E3%83%88%E7%B3%96%E8%B3%AA%E9%87%8F:%20http%3A%2F%2Fwww.pockettoushituryou.com%2F"
          target="_blank" title="Tweet"><img alt="Tweet" src="<%= asset_path 'sns_twitter.png' %>"></a></li>
      <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.pockettoushituryou.com%2F" target="_blank" title="Share on Google+"><img
            alt="Share on Google+" src="<%= asset_path 'sns_google.png' %>"></a></li>
      <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.pockettoushituryou.com%2F&description=%E3%83%9D%E3%82%B1%E3%83%83%E3%83%88%E7%B3%96%E8%B3%AA%E9%87%8F%E3%80%80%E7%B3%96%E8%B3%AA%E5%88%B6%E9%99%90%E4%B8%AD%E3%81%AB%E7%B3%96%E8%B3%AA%E9%87%8F%E3%82%92%E4%B8%80%E7%99%BA%E6%A4%9C%E7%B4%A2%E3%83%BB%E4%B8%80%E8%A6%A7%E8%A1%A8%E7%A4%BA"
          target="_blank" title="Pin it"><img alt="Pin it" src="<%= asset_path 'sns_pinterest.png' %>"></a></li>
      <li><a href="https://getpocket.com/save?url=http%3A%2F%2Fwww.pockettoushituryou.com%2F&title=%E3%83%9D%E3%82%B1%E3%83%83%E3%83%88%E7%B3%96%E8%B3%AA%E9%87%8F"
          target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="<%= asset_path 'sns_pocket.png' %>"></a></li>

    </ul>
    <a href="http://b.hatena.ne.jp/entry/www.pockettoushituryou.com/" class="hatena-bookmark-button"
      data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加">
      <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20"
        height="20" style="border: none;" /></a>
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    <!-- /.シェアボタン -->

  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->