<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>ポケット糖質量 <%= yield(:page_title) %></title>
    <%= favicon_link_tag() %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'bootstrap.min': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'mdb.min': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-2.2.3.min' %>
    <%= javascript_include_tag 'tether.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'mdb.min' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">


    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= analytics_init if Rails.env.production? %>

    <title>ポケット糖質量　糖質制限中に糖質量を一発検索・一覧表示</title>
    <meta name="description" content="ポケット糖質量は1100種類以上の食品に含まれる糖質量が検索できるサイトです。
100グラムあたりの糖質量と、それぞれの食品の1回分を目安とした分量に含まれるエネルギー（カロリー）・たんぱく質・脂質・塩分が表示できます。
健康づくりのためにぜひご利用ください。">
    <meta property="og:title" content="ポケット糖質量　糖質制限中に糖質量を一発検索・一覧表示"/>
    <meta property="og:description" content="ポケット糖質量は1100種類以上の食品に含まれる糖質量が検索できるサイトです。
100グラムあたりの糖質量と、それぞれの食品の1回分を目安とした分量に含まれるエネルギー（カロリー）・たんぱく質・脂質・塩分が表示できます。
健康づくりのためにぜひご利用ください。"/>
    <meta property="og:url" content="http://www.pockettoushituryou.com/"/>
    <meta property="og:type" content=“website"/>
    <meta property="og:site_name" content=“ポケット糖質量"/>

  </head>

  <!-- Google Adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6381489451756721",
          enable_page_level_ads: true
      });
  </script>

  <body>
  <%= render 'layouts/header' %>

  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- レスポンシブ -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6381489451756721"
       data-ad-slot="6685554091"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <%= render 'layouts/footer' %>

  <%= debug(params) if Rails.env.development? %>

  <%= javascript_include_tag 'jquery-2.2.3.min' %>
  <%= javascript_include_tag 'tether.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'mdb.min' %>

  </body>
</html>
