<!DOCTYPE html>
<html>
  <head>
    <title>PocketCarbo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'mdb.min': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "mdb.css": 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
